*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}
.header-container{
    grid-row: 1/2;
    grid-column: 1/2;
    flex-shrink: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white; 
}
.iconsHead{
    flex-shrink: 1;
    display: flex;
    align-items: center;
    gap: 90px;
    padding: 0px 8rem;

}
header ion-icon{
    flex-shrink: 1;
    width: 3rem;
    height: 8rem;
    color: #912645;
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.5));
}
#logo{
    width: 25.6rem;
    height: auto;
   flex-shrink: 0;
     
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.5));
}
.navigation-container{
    background-color: rgb(38, 38, 38);
    color: white;
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    width: 119rem;
    margin-left: 0.4%;
    
}
.navigation-container p{
    margin-top: 2.5%;
}
#course{
   margin-left:12rem;
    flex-shrink: 1;
    font-size: 3rem;
    color: white;
    
}
.boxes-container{
    flex-shrink: 1;
    display: flex;
    
    
}
.courseclass {
    white-space: nowrap;
    max-height: 2.2rem;
    flex-shrink: 1;
    background-color: #5A5959;
    margin: 0.2rem;
    padding: 1.2rem 6rem;
    
}
.courselinks{
    font-size:120%;
    color: white;
    text-decoration: none;
    
    
}
#choose{
    color:white;
    font-size: 40px;

}
.courseclass:has(a:hover){
    
    background-color:#912645; 
}
a:hover ion-icon{
    color:black; 
}
.courseclass:has(ion-icon){
    
    font-size: 1.5rem;
    
}
.Display-courses{
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #912645;
    width: 119rem;
    margin-left: 0.4%;
    align-content: start;
}
.course {
    margin: 1rem;
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.5));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 calc(33.33% - 10px); 
    max-width: calc(33.33% - 60px);
    width: 18rem;
    height: 25rem; 
    box-sizing: border-box;
    background-color: whitesmoke;
    padding: 1rem;
    text-align: center;
    border-radius: 5%;
}
.course-img {
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.course-img img {
    padding: 0px;
    margin: 0px;
    width:34rem;
    border-radius: 5%;
    height: 20rem;
    object-fit: cover;
}

.course-text {
  
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0.5rem;
}
#course-name{
    font-size: 180%;
    margin-top: 1.5%;
}
#grade{
    font-size: medium;
    background-color: #5A5959;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 30%;
    padding: 10px  15px;
}
@media screen and (max-width: 768px) {

    .container{
        display: flex;
        flex-direction: column;
        width: 75vh;
        background-color: #5A5959;
    }
    .navigation-container{
        margin: 0px 0px 0px 0px;
        width:79vh;
        
    }
    .Display-courses{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;

    }
    #course{
        margin: 0px 0px 0px 0px;
    }
    .courseclass{
        width:0.2rem;
        height: 10%;
        white-space: nowrap;
        max-height: 2.2rem;
        flex-shrink: 1;
        background-color: #5A5959;
        margin: 0.1rem;
        padding: 1.2rem 5.6rem;
    }
    .courseclass ion-icon{
        margin-left: -4.3pc;
    }
    .header-container{
        width: 75vh;
    }
    #logo{
        margin-left: -50px;
        width: 60%;
        height: auto;
    }
    header ion-icon{
        margin-left:-40px;
    }
    .course-img img {
        width: min-content;
        background-color: #912645;
    }
    .course{
        min-width: fit-content;
    }
}